.review-card-container {
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  .review-card {
    display: inline-block;
    position: relative;
    left: 100%;
    animation: 25s ease-in-out 0s infinite alternate none running reviewCardAnim1;
    width: 25%;
    overflow: hidden;
  }
  
  @keyframes reviewCardAnim1 {
    0% {
      left: 150%;
    }
    100% {
      left: -100%;
    }
  }