.code-screen {
    width: 600px;
    height: 600px;
    background-color: #0F182A;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    padding: 14px;
    border: 1px solid #3a3f44;
  
    .code-screen__dots{
      color: #3a3f44;
      font-size: .8rem;
    }

    .code-screen__dot{
      margin: 4px 3px;
    }

    .code{
      background-color: #0F182A;
      border: 1px solid #3a3f44;
      color: #fff;
      font-family: monospace;
      font-size: 12px;
      padding: 10px;
      border-radius: 10px;
      overflow: auto;
      font-size: 1rem;
      height: 95%;
      width: 100%;
    }
  }
  