.navigation{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    width: 100%;
    font-family: 'Ubuntu Mono', monospace;

    .navigation__list{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
    }

    .navigation__list--item{
        list-style: none;
        margin: 0 10px;

        &:hover{
            .navigation__list--icon{
                color: #9f7aea;
            }
        }
    }

    .navigation__list--link{
        color: #a0aec0;
        text-decoration: none;
        font-size: 1.2rem;

        .number-span{
            color: #9f7aea;
            font-size: 1.1rem;
        }

        &:hover{
            color: #9f7aea;
        }
    }
    .navigation__list--icon{
        font-size: 1.5rem;
        color: #a0aec0;
    }
}
.navigation__list--link.resume{
    border: 1px solid #9f7aea;
    padding: 7px 10px;
}
