.slide-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;

  .slide-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    font-size: 7rem;
    color: #63b3ed;

    h1{
        font-size: 4rem;
        font-weight: 700;
        margin: 0;
        color: #63b3ed;
        text-align: center;
    }
     .special-p{
        font-size: 1rem;
        color: #63b3ed;
        text-align: center;
        margin-top: 20px;
        width: 20%;
      }
  }
}